<div class="row">

  <div class="col-md-3 sticky">

    <div class="well text-center">

      <%= image_tag avatar_url(@user), class: "img-circle avatar-large"  %>

      <% if current_user != @user %>

        <div class="row-space-2">

         <%= link_to "Envoyer un message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>

        </div>

      <% end %>

      <div class="panel panel-default">

        <div class="panel-heading">Données de <%= @user.full_name %></div>

        <div class="panel-body">

         Email: <p><%= @user.email %></p><br>

         Tél: <p><%= @user.phone_number %></p>

        </div>

      </div>

    </div>

  </div>

<div class="col-md-9">
   <div class="panel-defautl">

  <h3>Something about <%= @user.full_name %></h3>

  <div class="description row-space-3">

    <p><%= @user.about %></p>

  </div>
</div>
<hr>



  </div>
</div>

