<div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to "My advertisements", advertisements_path, class:"sidebar-link active" %></li>
            <li class="sidebar-item"><%= link_to "My favorites", root_path, class:"sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "My analytics", root_path, class:"sidebar-link" %></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading"> My advertisements</div>
            <div class="panel-body">
                <% @advertisements.each do |advertisement| %>
                <div class="row">
                    <div class="col-md-2">
                        <%= image_tag advertisement.photos[0].image.url(:thumb) if advertisement.photos.length > 0 %>
                    </div>
                    <div class="col-md-7">
                        <h4><%= advertisement.listing_name %></h4>
                    </div>
                    <div class="col-md-3 right">
                        <%= link_to "Update", edit_advertisement_path(advertisement), class:"btn btn-primary" %>
                    </div>
                </div>
                <hr>
                <% end %>
            </div>
        </div>
    </div>
</div>
